<footer class="bg-white p-4">
  <div class="container-lg d-flex flex-column flex-lg-row justify-content-lg-between row-gap-4">
    <div class="row row-gap-3">
      <img class="col-6 col-sm-3 col-lg-2" src="logo.png" alt="">
      <div class="texts">
        <p class="fw-bold m-0">Prueba técnica - Online Book Store</p>
        <p class="text-secondary m-0">Hecho por: Said Ian Ramses Suybate Vidal</p>
      </div>
    </div>
    <div class="row flex-column gap-3 flex-md-row flex-lg-column gap-md-0">
      <a class="col d-flex gap-2 justify-content-md-center justify-content-lg-end text-black text-decoration-none" href="https://github.com/SaidSuyv" target="_blank">
        <i class="bi bi-github"></i>
        <span class="ml-3">SaidSuyv</span>
      </a>
      <a class="col d-flex gap-2 justify-content-md-center justify-content-lg-end text-black text-decoration-none" href="mailto:sirsuyvi@gmail.com" target="_blank">
        <i class="bi bi-envelope"></i>
        <span class="ml-3">sirsuyvi&#64;gmail.com</span>
      </a>
      <p class="col m-0 d-flex gap-2 justify-content-md-center justify-content-lg-end text-black text-decoration-none">
        <i class="bi bi-whatsapp"></i>
        <span class="ml-3">+51 927 781 972</span>
      </p>
    </div>
  </div>
</footer>