<div class="book-item h-100 d-flex flex-column bg-white rounded p-3">
  <img class="m-auto d-block" src="/book.png" alt="Libro DEMO">
  <p class="mb-3 fw-bolder">{{ bookInput().name }}</p>
  <p class="mb-3 fs-6 fw-normal">S/.{{ bookInput().book_price }}</p>
  @if( bookInput().in_cart ){
    <div class="d-flex column-gap-2">
      <button class="flex-grow-1 btn btn-info" disabled>En el carrito</button>
      <button class="btn btn-secondary" (click)="removeFromCart()">
        <i class="bi bi-trash"></i>
      </button>
    </div>
  }
  @else if( bookInput().stock == 0 ){
    <button class="btn btn-secondary w-100 cursor-danger" disabled>Agotado</button>
  }
  @else {
    <button class="btn btn-outline-info w-100" (click)="addToCart()" [disabled]="bookInput().stock == 0" >Agregar carrito</button>
  }
</div>